.wrapper {
  padding-top: 16px;
  // filter: drop-shadow(2px -1px 0px hsla(220, 1%, 100%, 1))
  //   drop-shadow(0 -2px 0px hsla(220, 1%, 100%, 1))
  //   drop-shadow(
  //     -0.1vmin 0.2vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.565)
  //   )
  //   drop-shadow(
  //     -0.2vmin 0.3vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.502)
  //   )
  //   drop-shadow(
  //     -0.3vmin 0.4vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.439)
  //   )
  //   drop-shadow(
  //     -0.4vmin 0.5vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.376)
  //   )
  //   drop-shadow(
  //     -0.5vmin 0.6vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.314)
  //   )
  //   drop-shadow(
  //     -0.6vmin 0.7vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.251)
  //   )
  //   drop-shadow(
  //     -0.7vmin 0.8vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.188)
  //   )
  //   drop-shadow(
  //     -0.8vmin 0.9vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.125)
  //   )
  //   drop-shadow(
  //     -0.9vmin 1vmin 0.01vmin hsla(var(--small-bento-item-deg), 1%, 62%, 0.063)
  //   );
}

.Blick path {
  fill: white;
  display: none;
}
