@use '@includes/index.scss' as *;

.wrapper.sublevel-0 {
  width: 100%;
  max-width: var(--width-max-text-content);
  display: flex;
  flex-direction: column;
  padding-left: var(--padding-left_right_edges);
  padding-right: var(--padding-left_right_edges);
  padding-bottom: 96px;

  &:first-of-type {
    padding-top: 96px;

    @include media-s-breakpoint-and-down {
      padding-top: 24px;
    }
  }
}

.sublevel-1 {
  // &:first-of-type {
  //   padding-top: 12px;
  // }
  padding-top: 16px;
  padding-bottom: 16px;
  & + .sublevel-1 {
    padding-top: 0;
  }
}

.sublevel-2 {
  // &:first-of-type {
  //   padding-top: 12px;
  // }
  padding-top: 8px;
  padding-bottom: 8px;
  & + .sublevel-2 {
    padding-top: 0;
  }
}
