$icon-width: 96px;
$primary-text-color: var(--color_text-accent_default--enabled);
$secondary-text-color: var(--color_text_muted-accent_default--enabled);
$gap-size: 12px;
$bg-color-enabled: var(--bg-read-color-body);

.container {
  display: flex;
  gap: $gap-size;
  background-color: $bg-color-enabled;

  padding: 0;
  border-radius: 0; // Слегка скругленные углы
  align-items: flex-start;
  &:hover {
    .title {
      color: var(--color_text-accent_high--enabled);
      text-decoration: underline;
    }
  }
}

.icon {
  width: $icon-width;
  object-fit: contain;
  border-radius: 4px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.subtitle {
  padding-top: 8px;
  color: $secondary-text-color;
}
