body {
  background-color: var(--bg-read-color-body);
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

ol li {
  margin-left: 18px;
}

.scroll-lock {
  overflow: hidden !important;
  /* Можно добавить padding-right, чтобы компенсировать исчезновение скроллбара */
  padding-right: var(--scrollbar-width, 0);
}
